<form [formGroup]='form' class="form" (ngSubmit)='checkForm()'>

    <div class="form__content">


        <section class="form__section">
            <div class="form__column">
                <!-- WEIGHT -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('weight')?.invalid && form.get('weight')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('weight')?.hasError('required')){
                            El weight dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='weightControl' type="text" class="input"
                        placeholder="Enter your weight">
                </div>
                <!-- HIP -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('hip_circumference')?.invalid && form.get('hip_circumference')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('hip_circumference')?.hasError('required')){
                            El last name dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='hip_circumferenceControl' type="text" class="input"
                        placeholder="Enter your hip_circumference">
                </div>
                <!-- WAIST -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('waist_circumference')?.invalid && form.get('waist_circumference')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('waist_circumference')?.hasError('required')){
                            El waist_circumference dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='waist_circumferenceControl' type="text" class="input"
                        placeholder="Enter your waist_circumference">
                </div>
            </div>
        </section>

    </div>


    <button [disabled]='isLoading' [ngClass]="isLoading ? 'button-submit button-submit--loading' : 'button-submit'">
        @if(isLoading){
        Sending data <div class="traffic-loader"></div>
        }@else{

        Save data

        }
    </button>

    
</form>