.layout{
    width: 100%;
    border: 5px solid black;
    display: flex;
    gap: 32px;
    padding: 40px;
    justify-content: space-around;
    align-items: center;
}



.measures, .layout__main{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    border: 2px solid black;
    border: 2px solid black;
}
.measures{
    width: 100%;
}
.layout__aside{
    border: 2px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.measures__charts{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.multi-area {
    width: 100%;
    border: 2px solid black;
    
  }