.layout{
    width: 100%;
}


.comparision, .radar{
    width: 100%;
}
.measures__charts{
    display: flex;
    gap: 24px;
    justify-content: space-around;
    width: 100%;
  
}
.measures{
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.layout__main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.multi-area {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.aside__top{
    display: flex;
    align-items: center;
}

.user{
    /* border: 2px solid black; */
    /* width: 100%; */
}

.avatar, .avatar__image{
    width: 100%;
}
  .button-out {
    /* margin: 20px 0 10px 0; */
    background-color: #cd1818a8;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: all ease 0.4;
  }
  
  .button-out:hover{
      background-color: #cd1818;
  }

  .button-add {
    /* margin: 20px 0 10px 0; */
    background-color: #1876cda8;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: all ease 0.4;
  }
  
  .button-add:hover{
      background-color: #1876cd;
  }


  button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340deg 100% 32%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   button:hover {
    filter: brightness(110%);
   }
   
   button:hover .front {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   button:hover .shadow {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   button:focus:not(:focus-visible) {
    outline: none;
   }

   /* responsive */
   @media screen and (min-width: 600px) {
       .layout{
        display: flex;
        flex-direction:  column-reverse;
        grid-template-columns: 100%;
        grid-template-areas: 
        "aside"
        "main";
    }
    .layout__aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .aside__top{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .aside__bottom{
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }
    .user{
        width: 30%;
    }
    .layout__buttons{
        width: 65%;
    }
   .multi-area{
    height: 400px;
   }
  }

  @media screen and (min-width: 1000px) {
    .layout__main{
        gap: 20px;
    }
    .measures{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 20px;
    }
    .measures__charts{
        display: flex;
        flex-direction: column;
        gap: 0px;
        justify-content: space-between;
        width: 20%;
      
    }
    .multi-area{
        width: 80%;
        height: 100%;

    }
  }
  @media screen and (min-width: 1200px) {
    .measures{
        flex-direction: column;
        
    }
    .measures__charts{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      
    }
    .multi-area{
        width: 100%;
        height: 650px;

    }
    .layout{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: "main aside";
    }
    .layout__aside{
        grid-area: aside;
        display: flex;
        gap: 20px;
        flex-direction: column;
        justify-content: start;
        padding: 10px;
    }
    .aside__top{
        flex-direction: column;
        width: 100%;
    }
    .aside__bottom{
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .user{
        width: 50%;
    }
    
  }