<div class="recipes w-100">
    <app-recipe-form (errorSearch)="toggleError(true)"></app-recipe-form>
    @if(error){
    <h3 class="error">Lo sentimo pero ha ocurrido un error, intentelo de nuevo</h3>
    }@else {
 
    @if(current_recipes){
       <div class="buttons w-100 d-flex justify-content-between m-5">
          <button [disabled]="!previous" (click)='searchRecipe(previous!.href)'>Previous page</button>
          <button [disabled]="!next" (click)='searchRecipe(next!.href)'>Next page</button>
       </div>
    <div class="recipes__container w-100">
       @for(recipe of current_recipes; track recipe){
       <app-recipe [recipe_data]='recipe'></app-recipe>
 
       }
    </div>
    }
    }
 </div>