<div class="card">
  <h2>Measures comparasion</h2>
  <div id="chart" class="chart-area">
    @if(series.length && series[0].series.length > 1){
      <apx-chart class="apx"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart" 
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke" 
      [tooltip]="chartOptions.tooltip"
      [dataLabels]="chartOptions.dataLabels"
      [legend] = 'chartOptions.legend'>
    </apx-chart>
  }@else{
    <h1 class="text-light p-3">Add new measures to view chart comparision</h1>
    <app-modal [title] = '"Enter your measures"' [button_text] = '"Add new measures "' [form_to_show] = '"measures"'></app-modal>
  }
  </div>
</div>