<form [formGroup]='formulario' (ngSubmit)='sendData()'>
    <div class="mb-3 row">
        <div class="col-6">
            <input type="number" [formControl]='heightControl' placeholder="height">
        </div>
        <div class="col-6">
            <input type="number" [formControl]='weightControl' placeholder="weight">
        </div>
        <div class="col-6">
            <input type="number" [formControl]='ageControl' placeholder="age">
        </div>
        <div class="col-6">
            <select [formControl]='genderControl' id="">
                <option value="male">male</option>
                <option value="female">female</option>
            </select>
        </div>
        <div class="col-6">
            <select [formControl]='exerciseControl' id="">
                <option value="little">little</option>
                <option value="light">light</option>
                <option value="moderate">moderate</option>
                <option value="heavy">heavy</option>
                <option value="veryheavy">veryheavy</option>
            </select>
           
        </div>
        <div class="col-6">
            <input type="number" [formControl]='neckControl' placeholder="neck">
        </div>
        <div class="col-6">
            <input type="number" [formControl]='hipControl' placeholder="hip">
        </div>
        <div class="col-6">
            <input type="number" [formControl]='waistControl' placeholder="waist">
        </div>
        <div class="col-6">
            <select [formControl] = 'goalControl'>
                <option value="maintenance">Maintenance</option>
                <option value="moderate fat loss">Moderate Fat Loss</option>
                <option value="aggressive fat loss">Aggressive Fat Loss</option>
                <option value="reckless fat loss">Reckless Fat Loss</option>
                <option value="slow bulking">Slow Bulking</option>
                <option value="normal bulking">Normal Bulking</option>
                <option value="aggressive bulking">Aggressive Bulking</option>
              </select>
              
        </div>
        <div class="col-6">
            <input type="number" [formControl]='deficitControl' placeholder="deficit">
        </div>
        <div class="col-6">
            <input type="number" [formControl]='goalWeightControl' placeholder="goalWeight">
        </div>





    </div>
    <div class="buttons d-flex justify-content-around w-100">


        <button type="submit">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text"> Buscar
            </span>
        </button>

    </div>

</form>