#chart {
    width: 150px;
  }

  #chart-container {
    border: 1px solid black; /* Cambia el color y el grosor según sea necesario */
    border-radius: 5px; /* Opcional: agrega esquinas redondeadas al borde */
  }


