

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-primary: #44d4fd;
  --color-label: #a7a7a7;
  --color-text: #e2dede;
  --font-family: "Poppins";
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}


.card {
  position: relative;
  width: 110% !important;
  background: #414141;
  padding: 10px;
  border-radius: 24px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.08);
  height: 150px;
}
.card__image{
  width: 10%;
  background-color: rgb(238, 236, 236);
  border-radius: 24px;
  /* border: 2px solid red; */
  height: 100%;
  transition: all ease 0.4s;
}
.card:hover .card__image{

  background-color: white;
}
.card__image:hover{
  background-color: white;

}

.card h2 {
  color: #f9f9f9;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 0 2px;
  margin-bottom: 10px;
}

.card p{
  width: 30%;
}

.card .chart-area {
  position: relative;
  /* border: 1px solid white; */
  border-radius: 20px;
  width: 100%;
  position: relative;
  height: 80px;
  padding: 0;
  background-color: rgb(238, 236, 236);
  border-radius: 24px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.card .chart-area:hover{
  transform: scale(1.02);
  background-color: white;
}

.grid{
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: -20%;
  transform: scale(1.08) translate(-1%);
}

/* responsive */
@media screen and (min-width: 600px) {
  .card{
    width: 180px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1000px) {
  
  .card{
    height: 150px;
  }
}
@media screen and (min-width: 1200px) {
  .card h2{
    display: flex;
  }
  .card{
    width: 250px;

  }

}




