<form [formGroup]='form' class="form" (ngSubmit)='checkForm()'>

    <div class="form__content">
        <!-- first and last name container -->

        <section class="form__section">
            <div class="form__column">
                <!-- NAME -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('name')?.invalid && form.get('name')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('name')?.hasError('required')){
                            El name dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="text" [formControl]='nameControl' type="text" class="input"
                        placeholder="Enter your Name">
                </div>
                <!-- GOAL -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('goal')?.invalid && form.get('goal')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('goal')?.hasError('required')){
                            El last gaol dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                   

                    <select [formControl]='goalControl'>
                        <option value="" disabled selected>Select your goal</option>
                        <option value="1">Gain weight</option>
                        <option value="0">Fat Loss</option>
                        
                    </select>

                </div>
                 <!-- GENDER -->
                 <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('gender')?.invalid && form.get('gender')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('gender')?.hasError('required')){
                            El Gender dede estar relleno
                            }
    
                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <!-- SELECT -->
    
                    <select [formControl]='genderControl' id="genderControl">
                        <option value="" disabled selected>Select your gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form__column">
                <!-- START DATE -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('age')?.invalid && form.get('age')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('age')?.hasError('required')){
                            El age dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input [formControl]='ageControl' type="number" class="input"
                        placeholder="Enter your age">
                </div>
                <!-- ACTIVITY LEVEL -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('activity_level')?.invalid && form.get('activity_level')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('activity_level')?.hasError('required')){
                            El Activity level dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <!-- SELECT -->

                    <select [formControl]='activity_levelControl' id="activity_levelControl">
                        <option value="" disabled selected>Select your activity level</option>
                        <option value="Low">Low</option>
                        <option value="High">High</option>
                        <option value="Moderate">Moderate</option>
                    </select>
                </div>
                <!-- HEIGHT -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('height')?.invalid && form.get('height')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('height')?.hasError('required')){
                            El height dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='heightControl' type="text" class="input"
                        placeholder="Enter your height">
                </div>
            </div>
        </section>
        <section class="form__section">
            <div class="form__column">
               <!-- WEIGHT -->
               <div class="flex-column">
                <label>
                    <p class="error">
                        @if(form.get('weight')?.invalid && form.get('weight')?.touched){
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="error__icon">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                        </svg>
                        @if(form.get('weight')?.hasError('required')){
                        El weight dede estar relleno
                        }

                        }
                    </p>
                </label>
            </div>
            <div class="inputForm">
               
                <input type="number" [formControl]='weightControl' type="text" class="input"
                    placeholder="Enter your weight">
            </div>
                <!-- HIP -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('hip_circumference')?.invalid && form.get('hip_circumference')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('hip_circumference')?.hasError('required')){
                            El last name dede estar relleno
                            }
    
                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='hip_circumferenceControl' type="text" class="input"
                        placeholder="Enter your hip_circumference">
                </div>
                <!-- WAIST -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('waist_circumference')?.invalid && form.get('waist_circumference')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('waist_circumference')?.hasError('required')){
                            El waist_circumference dede estar relleno
                            }
    
                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='waist_circumferenceControl' type="text" class="input"
                        placeholder="Enter your waist_circumference">
                </div>
            </div>
            <div class="form__column">
                <!-- TARGET WEIGHT -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('target_weight')?.invalid && form.get('target_weight')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('target_weight')?.hasError('required')){
                            El target_weight dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='target_weightControl' type="text" class="input"
                        placeholder="Enter your target_weight">
                </div>
                <!-- TARGET HIP -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('target_hip_circumference')?.invalid &&
                            form.get('target_hip_circumference')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('target_hip_circumference')?.hasError('required')){
                            El last name dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='target_hip_circumferenceControl' type="text" class="input"
                        placeholder="Enter your target_hip_circumference">
                </div>
                <!-- TARGET WAIST -->
                <div class="flex-column">
                    <label>
                        <p class="error">
                            @if(form.get('target_waist_circumference')?.invalid &&
                            form.get('target_waist_circumference')?.touched){
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="error__icon">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
                            </svg>
                            @if(form.get('target_waist_circumference')?.hasError('required')){
                            El target_waist_circumference dede estar relleno
                            }

                            }
                        </p>
                    </label>
                </div>
                <div class="inputForm">
                    
                    <input type="number" [formControl]='target_waist_circumferenceControl' type="text" class="input"
                        placeholder="Enter your target_waist_circumference">
                </div>
            </div>
        </section>

    </div>

    <button [disabled]='isLoading' [ngClass]="isLoading ? 'button-submit button-submit--loading' : 'button-submit'">
        @if(isLoading){
        Sending data <div class="traffic-loader"></div>
        }@else{

        Create new profile

        }
    </button>

   
</form>