

<div class="card">
  <div (click) = 'goToProfile()' class="container">
        <div class="avatar avatar--lg" >
      <img class="avatar__image w-100 rounded-circle p-3" src='https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg' alt="">
      <!-- <h3 class="avatar__name">{{name}}</h3> -->
    </div>
    
  </div>

  <div (click) = 'goToProfile()' class="card-header">
    <span>{{name}}</span>
    <span>BMI {{bmi}} %</span>
    <span>Body Fat {{body_fat}} %</span>
  </div>

  <span class="temp">{{weight}} kg</span>

  <div class="temp-scale">
    <span>
      @if(goal == 0){
        Weight Loss
      }
      @if(goal == 1){
        Gain Mass
      }
    </span>
    <button (click) = 'onClickButton()' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-confirmation">
      Delete
    </button>
    
     
  </div>
</div>
