.avatar{
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.avatar__image{
  background-color: rgba(0, 0, 255, 0.379);
  width: 100%;
  border-radius: 50%;
  padding: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  outline: 1px solid transparent;
}
.avatar__image:hover{
  transform: scale(1.05);
  outline: 1px solid black;
}

.avatar__name{
  width: 100%;
  text-align: center;
}