
/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --color-primary: #44d4fd;
  --color-label: #a7a7a7;
  --color-text: #e2dede;
  --font-family: "Poppins";
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  width: 100%;
  background: #414141;
  padding: 10px;
  border-radius: 24px;
  box-shadow: 0 50px 100px rgba(0, 0, 0, 0.08);
}

.card h2 {
  color: #f9f9f9;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin: 0 0 2px;
  margin-bottom: 10px;
}


.card .chart-area {
  position: relative;
  border-radius: 20px;
  width: 100%;
  position: relative;
  height: 350px;
  padding: 0;
  border: 1px solid white;

}
.grid{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
}



@media screen and (min-width: 600px) {
  .grid{
    transform: scale(120%) translateY(-8%) translateX(1%);
  }
  .card{
    height: 80%;
  }
  
}
@media screen and (min-width: 850px) {
  .grid{

    transform: scale(120%) translateY(-8%) translateX(5%);
  }
  .card{
    height: 80%;
  }
  
}
@media screen and (min-width: 1200px) {
  .grid{
    transform: translateX(0) translateY(-8%);
  }
  
  .card{
    height: 80%;
  }
  
}




