<form [formGroup]='formulario' (ngSubmit)='enviarFormulario()'>
    <div class="mb-3 row">
        <div class="row col-6">
            <label [htmlFor]="'exampleInputFood' + food_index_input" class="form-label col-3">Introduce un alimento</label>
            <input type="text" class="form-control col-9" [id]="'exampleInputFood' + food_index_input" [formControl]='foodControl' aria-describedby="emailHelp">
        </div>
        <div class="row col-6">
            <label [htmlFor]="'exampleInputMeasure' + food_index_input" class="form-label col-3">Introduce un cantidad</label>
            <input type="number" class="form-control col-9" [id]="'exampleInputMeasure' + food_index_input" [formControl]='measureControl'
                aria-describedby="emailHelp">

        </div>


    </div>
    <div class="buttons d-flex justify-content-around w-100">

        
        <button type="submit">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text"> Buscar
            </span>
        </button>
        <button (click) = 'emitEvent()'>
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text"> Eliminar alimento
            </span>
        </button>
        
    </div>
    
</form>