<div class="virtual-users">
    <!-- <button (click)='logOut()'>Log Out</button> -->
    @if(virtual_users && virtual_users.length){
    <h1>Estos son tus usuarios virtuales</h1>
    <div class="virtual-users__container">
        @for(virtual_user of virtual_users; track virtual_user.ID;){
        <app-user-avatar [isButton] = 'true' [id]='virtual_user.ID' [name]='virtual_user.Name'></app-user-avatar>
        }
    </div>
    }@else{
    <h1>Aun no tienes usuarios virtuales </h1>
    }

    @if(virtual_users && virtual_users.length < 4){
        <app-modal  [button_text] = '"Add new profile "' [form_to_show] = '"profile"'></app-modal>
    }

</div>