<div *ngIf="show_data" class="card" style="width: 18rem;">
    <img src={{food_data.image}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{food_data.label}}</h5>
      <p class="card-text">Catgory {{food_data.category}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li *ngFor="let n of nutrients" class="list-group-item">{{n}}</li>
    </ul>
    <!-- <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div> -->
  </div>
