<div class="meal-planner">
    <table class="table w-100">
      <thead>
        <tr>
          <th class="td-day mt-3" scope="col"><p>
            Day
          </p></th>
          <th class="mt-3" scope="col"><p>
            Breakfast
          </p></th>
          <th class="mt-3" scope="col"><p>
            Snack
          </p></th>
          <th class="mt-3" scope="col"><p>
            Lunch
          </p></th>
          <th class="mt-3" scope="col"><p>
            Tea Time
          </p></th>
          <th class="mt-3" scope="col"><p>
            Dinner
          </p></th>
          <th class="mt-3" scope="col"><p>
            KCal
          </p></th>
  
        </tr>
      </thead>
      <tbody>
        @for(day of meal_planner; track day.day){
        <tr>
          <td class="td-day">
            <p class="text-center fw-bold mt-3 fs-5 day">
              {{ day.day }}

            </p>
          </td>
  
          <td>
            @if(isEmpty(day.meals.breakfast)){
              <div class="card card--noitem d-flex align-items-center" (click)='addDietToPlanner("breakfast", day.day)'>
                <div class="card-body ">
                </div>
              </div>
            }@else {
            <app-table-recipe [recipe_type] = '"breakfast"' [meal_planner_day] = 'day.day' [recipe]='day.meals.breakfast'></app-table-recipe>
            }
          </td>
          <td>
            @if(isEmpty(day.meals.snack)){
              <div class="card card--noitem d-flex align-items-center" (click)='addDietToPlanner("snack", day.day)'>
                <div class="card-body ">
                </div>
              </div>
            }@else {
            <app-table-recipe [recipe_type] = '"snack"' [meal_planner_day] = 'day.day' [recipe]='day.meals.snack'></app-table-recipe>
            }
          </td>
          <td>
            @if(isEmpty(day.meals.lunch)){
              <div class="card card--noitem d-flex align-items-center" (click)='addDietToPlanner("lunch", day.day)'>
                <div class="card-body ">
                </div>
              </div>
            }@else {
            <app-table-recipe [recipe_type] = '"lunch"' [meal_planner_day] = 'day.day' [recipe]='day.meals.lunch'></app-table-recipe>
            }
          </td>
          <td>
            @if(isEmpty(day.meals.tea_time)){
              <div class="card card--noitem d-flex align-items-center" (click)='addDietToPlanner("tea_time", day.day)'>
                <div class="card-body ">
                </div>
              </div>
            }@else {
            <app-table-recipe [recipe_type] = '"tea_time"' [meal_planner_day] = 'day.day' [recipe]='day.meals.tea_time'></app-table-recipe>
            }
          </td>
          <td>
            @if(isEmpty(day.meals.dinner)){
              <div class="card card--noitem d-flex align-items-center" (click)='addDietToPlanner("dinner", day.day)'>
                <div class="card-body ">
                </div>
              </div>
            }@else {
            <app-table-recipe [recipe_type] = '"dinner"' [meal_planner_day] = 'day.day' [recipe]='day.meals.dinner'></app-table-recipe>
            }
          </td>
          <td >
            <p class="text-center mt-4 fs-4 fw-bold">

              {{day.calories}} <span class="fw-semibold fs-6">Kcal</span>
            </p>
          </td>
        </tr>
        }
      </tbody>
    </table>
  
  </div>